<div class="container">
  <div class="row">
    <h2>註冊</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>
      <div class="field">
        <%= f.label :密碼 %>
        <% if @minimum_password_length %>
        <em>(最少 <%= @minimum_password_length %> 位)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br>
      <div class="field">
        <%= f.label :確認密碼 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <br>

      <div class="actions">
        <%= f.submit "註冊",class: "btn btn-default" %>
        <%= link_to "登入", new_user_session_path, class: "btn btn-primary" %>
      </div>
    <% end %>
    <%#= render "devise/shared/links" %>
    </div>
</div>
