<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-8 col-md-push-2">
    <%= f.label "議題名稱" %><br>
    <%= f.text_field :title, :class => "w100p" %>
  </div>
  <div class="col-md-8 col-md-push-2">
    <%= f.label "說明" %><br>
    <%= f.text_area :description, :class => "w100p", :rows => 10 %>
  </div>
<!--   <div class="field">
    <%#= f.label :creator %><br>
    <%#= f.text_field :creator %>
  </div> -->
  <div class="col-md-8 col-md-push-2">
    <%= f.submit "建立議題"%>
  </div>
<% end %>
