<script type="text/javascript">
  var word_array = <%= raw @tag_cloud.to_json.html_safe %>;

  $(function() {
    $("#tag-cloud").jQCloud(word_array);
  });
</script>

<div class="container">

  <div id="tag-cloud"></div>

  <div class="row">

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-xs-7"><h4>議題</h4></th>
          <th class="col-xs-2"><h4>人數</h4></th>
          <th class="col-xs-3"> <%= link_to '建立新議題', new_issue_path, class: "btn btn-success" %></th>
        </tr>
      </thead>

      <tbody>
      <!-- 有登入時 -->
        <% if current_user %>
          <% @issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.title, issue %></td>
            <td id="count-<%= issue.id %>"><i><%= issue.liked_users.size %></i></td>
            <td>
              <div id="like-<%= issue.id %>" class="text-align">
                <%= render_issue_like_botton %>
              </div>
            </td>
          </tr>
          <% end %>
      <!-- 末登入時 -->
        <% else %>
          <% @issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.title, issue %></td>
            <td id="count-<%= issue.id %>"><i><%= issue.liked_users.size %></i></td>
            <td><%= icon("thumbs-up") %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= paginate @issues %>

  </div>
</div>
