<div class="container">
  <div class="row">

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-xs-7"><h4>議題</h4></th>
          <th class="col-xs-2"><h4>人數</h4></th>
          <th class="col-xs-3"> <%= link_to '建立新議題', new_issue_path, class: "btn btn-success w100p" %></th>
        </tr>
      </thead>

      <tbody>
        <% @issues.each do |issue| %>

        <tr>
          <td><%= link_to issue.title, issue %></td>
          <td id="count-<%= issue.id %>"><%= issue.votes_count %></td>
          <td>
            <% if current_user %>
              <% vote = issue.find_vote_by_user(current_user) %>
              <div id="like-<%= issue.id %>" class="text-align">
                <%= render :partial => "votes/show", :locals => {:issue => issue, :vote => vote} %>
              </div>
            <% else %>
                <%= icon("thumbs-up") %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= paginate @issues %>

  </div>
</div>
