<div class="container">
  <div class="row">

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-xs-7"><h4>議題</h4></th>
          <th class="col-xs-2"><h4>人數</h4></th>
          <th class="col-xs-3"> <%= link_to '建立新議題', new_issue_path, class: "btn btn-success" %></th>
        </tr>
      </thead>

      <tbody>
      <!-- 有登入時 -->
        <% if current_user %>
          <% @issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.title, issue %></td>
            <td id="count-<%= issue.id %>"><%= issue.find_votes_for.size %></td>
            <td>
              <div id="like-<%= issue.id %>" class="text-align">
                <%= render :partial => "votes/show", :locals => {:issue => issue} %>
              </div>
            </td>
          </tr>
          <% end %>
      <!-- 末登入時 -->
        <% else %>
          <% @issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.title, issue %></td>
            <td id="count-<%= issue.id %>"><%= issue.get_likes.size %></td>
            <td><%= icon("thumbs-up") %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= paginate @issues %>

  </div>
</div>
