<div class="container">
  <div class="row">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>議題</th>
          <th>人數</th>
          <th>支持</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @issues.each do |issue| %>

        <tr>
          <td><%= link_to issue.title, issue %></td>
          <td><%= issue.votes.count %></td>
          <td id = "like-"<%= issue.id %> ><%= has_vote?(current_user, issue) %></td>
          <td>
            <%#= if current_user.votes.find_by_issue_id( issue.id ) %>
            <%= link_to_if current_user.votes.find_by_issue_id( issue.id ), '支持此議題', like_path(:issue_id => issue.id), :remote => true do %>
              <%= link_to '取消支持',dislike_path(:issue_id => issue.id), :remote => true, :method => "delete" %>
            <% end %>
          </td>
          <!-- <td><%#= link_to '支持', :controller => "votes", :method => "POST", :issue_id => issue.id, :remote => true %></td> -->
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to '建立議題', new_issue_path %>
  </div>
</div>
