<div class="container">
  <div class="row">
    <div class="col-xs-12 sky-header"><h2><%= @issue.title %></h2></div>
    <div class="issue-description-box">
      <br>
      <p><%= @issue.description %></p>
      <legend></legend>
      <div class="col-xs-9 text-right"><h4>支持這個議題?</h4></div>
      <div class="col-xs-3 position-right-botton">
        <% if current_user %>
          <div id="like-<%= @issue.id %>" class="text-center">
            <% if @issue.like_by_user?(current_user) %>
                <%= link_to like_issue_path(@issue), method: :post, class: "btn btn-primary", id: "like-#{@issue.id}", remote: true do %>
                  <span class=" glyphicon glyphicon-thumbs-up"></span>
                <% end %>
              <% else %>
                <%= link_to like_issue_path(@issue), method: :post, class: "btn btn-default", id: "like-#{@issue.id}", remote: true do %>
                  <span class=" glyphicon glyphicon-thumbs-up"></span>
                <% end %>
              <% end %>
          </div>
        <% else %>
          <%= icon("thumbs-up") %>
        <% end %>
      </div>
    </div>
  </div>

  <br>

  <div class="fb-share-button" data-href="<%=issue_path(@issue)%>" data-layout="button_count"></div>

  <br>

  <div class="row">
    <div class="col-xs-12 sky-header"><h2>支持此議題的民代</h2></div>

      <% @issue.find_votes_for(:vote_scope => 'agent').each do |v| %>
        <% agent = User.find(v.voter_id) %>
        <%= link_to user_path(agent) do %>
        <div class="col-xs-2 text-center user-img"><%= image_tag(agent.fb_image, :class => "w100p")%>
          <p class = "user-name"><%= agent.name %></p>
        </div>
        <% end %>
      <% end %>

  </div>

  <div class="row"></div>
    <%= link_to "回議題總覽",issues_path, :class => "btn btn-default w100p" %>
  </div>
</div>