<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <h2 class="col-xs-8">
              <%= @issue.title %> 
              <div class="fb-share-button" data-href="<%= issue_path(@issue) %>" data-layout="button_count"></div>
            </h2>
            <h2 class="col-xs-4">
              <div class="h4 owner-tag-name pull-right"><%= @issue.owner_name%></div> 
              <div class="h4 owner-tag pull-right">Owner</div> 
            </h2>
          </div> 
        </div>
        <div class="panel-body">
          <div class="col-xs-6">
            標籤：<%= render :partial => "issue_tags", collection: @issue.tags, as: :tag %>
          </div>

          <div class="col-xs-3 text-right"><h4><%= @issue.liked_users.size %>人支持</h4></div>
          <div class="col-xs-3">
            <% if login? %>
              <div id="like-<%= @issue.id %>" class="text-center">
                <%= render_issue_like_botton(@issue) %>
              </div>
            <% else %>
              <%= icon("thumbs-up") %>
            <% end %>
          </div>
          <article><%= @issue.description %></article>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 sky-header">
      <h2>支持的民代</h2>
    </div>
    <% @issue.liked_agents.each do |agent| %>
      <%= link_to user_path(agent) do %>
        <div class="col-xs-2 text-center user-img">
          <%= image_tag(agent.fb_image, :class => "w100p")%>
          <p><%= agent.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row"></div>
    <div class="col-md-2 col-md-push-5">
      <%= link_to "回議題總覽",issues_path, :class => "btn btn-default" %>
    </div>
  </div>
</div>
