<div class="container">
  <div class="row">
    <div class="col-xs-12 sky-header"><h2>目前民代總人數: <%= @agent.size %></h2></div>
      <% @agent.each do |agent| %>
        <a href=<%= user_path(agent) %>>
          <div class="col-sm-4 col-xs-2">
            <%= agent.name %> <br>
            <%= agent.description %> <br>
            支持議題數:<%= agent.votes.count %> <br>
            與你共同的議題數 <%= agent.votes.select{ |i| @user_issues.map(&:id).include?(i.issue_id) }.size %> <br>
            <%= icon("thumbs-up") %><%= icon_flipy("thumbs-down") %>
          </div>
        </a>
      <% end %>
  </div>
</div>