<div class="container">
  <div class="row">
    <div class="col-xs-12 sky-header"><h2>目前民代總人數: <%= @agent.size %></h2></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>姓名</th>
            <th>站你的議題</th>
            <th>like / dislike</th>
          </tr>
        </thead>
        <tbody>
          <% @agent.each do |agent| %>
            <tr>
              <td><%= link_to agent.name, user_path(agent) %></td>
              <td><%= current_user ? agent.votes.select{ |i| @user_issues.map(&:id).include?(i.issue_id) }.size : 0 %></td>
              <td><%= link_to icon("thumbs-up"), like_user_path(agent), :remote => true %>  <%= link_to icon_flipy("thumbs-down"), dislike_user_path(agent), :remote => true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>