<div class="container">
  <div class="row">
    <div class="row">
      <div class="">Hi   <%= @user.user_name %>
        <span class="label label-success"><%= @user.country %></span>
      </div>
      <div class="spacing"></div>
      <div class="well"><%= @user.description %></div>
      <% if @user.role == 1 %>
        <% total_user = [] %>
        <% @user.vote_issues.each do |issue| %>
          <% issue.vote_users.each do |user| %>
            <% total_user << user.email %>
          <% end %>
        <% end %>
        <h4>你所接觸到的總人數</h4>
        <h1><%= total_user.uniq.count %></h1>

        <h4>地區人數分佈</h4>
        <% country_hash = Hash.new %>

        <% country_hash=return_total_user_country_hash(total_user) %>

        <% country_hash.each_key do |k| %>
          <span class="label label-warning"><%= k %> : <%= country_hash[k] %></span><br>
        <% end %>

      <% else %>
      <% end %>

    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-2">
        <h1>議題名稱</h1>
      </div>
      <div class="col-xs-2 col-xs-offset-2">
        <h1>關注人數</h1>
      </div>
    </div>
    <div class="row">
      <ul>
        <div class="spacing"></div>
        <% @user.vote_issues.each do |issue| %>
        <li class="col-xs-2 col-xs-offset-2"><%= link_to issue.title, issue_path(issue) %></li>
        <li class="col-xs-1 col-xs-offset-2 badge"><%= issue.votes_count %></li>
        <br>
        <br>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <h3>和我有共同關注的民代</h3>
      <% @agent.each do |a|%>
      <div class="col-xs-2  text-center">
        <%= image_tag(a.fb_image, :width => 80) %>
        <%#= image_tag(a.photo(:thumb)) %>
        <% agent_issues = [] %>
        <% agent_issues << a.id %>
        <% total_issues = agent_issues + @user_issues %>
        <div><%= total_issues.select {|x| total_issues.count(x) >1 }.uniq.count %></div>
      </div>
      <% end %>

    </div>
    <br>
    <div class="row">
      <%= link_to "編輯資料",edit_user_path(current_user), :class => "btn btn-primary" %>
      <%= link_to "回議題總覽",issues_path, :class => "btn btn-default" %>
    </div>
  </div>
</div>
