<div class="container">
  <h1>
    <% if @user.agent? %>
      "現職": <%= @user.name %>
    <% else %>
      <%= @user.name %>
    <% end %>
  </h1>

  <%if @user.agent? %>
    <div class="fb-share-button" data-href="<%= user_path(@user) %>" data-layout="button_count"></div>

    <div class="row history-chart">
      <div class="col-xs-12 sky-header"><h2>歷史名聲紀錄</h2></div>
      <div class="col-xs-12">
        <div class="ct-chart ct-golden-section" id="chart1"></div>
      </div>

      <script>
      var likes = <%= escape_javascript @likes.to_json %>;
      var date = <%= raw @date.as_json %>;

      new Chartist.Line('#chart1', {
        labels: date,
        series: [likes]
      });
      </script>

    </div>

    <div class="row">

      <% if @user.agent? && @user == current_user %>
          <%= render partial: "touched_users_distribution", locals: { :touched_user_ids => @touched_user_ids } %>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 sky-header"><h2>支持的議題: <%= @user_issues.size %></h2></div>
    <div class="col-xs-6">
      <h3>議題名稱</h3>
    </div>
    <div class="col-xs-6 pull-left">
      <h3>關注人數</h3>
    </div>
  </div>

  <div class="row">
    <ul>
      <div class="spacing"></div>
      <% @user_issues.each do |issue| %>
        <li class="col-xs-6"><%= link_to issue.title, issue_path(issue) %></li>
        <li class="col-xs-6 pull-left"><%= issue.liked_users.size %></li>
      <% end %>
    </ul>
  </div>

  <!-- fb comments -->
  <div class="col-xs-12 sky-header"><h2><%= @user.name %> 無法河蟹的留言區</h2></div>
  <div id="fb-root"></div>
  <%= content_tag :div, '', :class => "fb-comments", "data-href" => request.original_url, "data-numposts" => "10", "data-colorscheme" => "light", "date-width" => "100%" %>

  <div class="row">
    <div class="col-xs-12 sky-header"><h2>相關的民代: <%= @touched_agents.size %></h2></div>
    <%= render partial: "touched_agents_list", collection: @touched_agents,as: :agent %>
  </div>
  <br>

  <div class="row">
    <div class="col-md-2 col-md-push-5">
    <%= link_to "回議題總覽",issues_path, :class => "btn btn-default" %>
    </div>
  </div>
</div>
