<div class="container">
  <div class="row">

    <% if @user.role == 1 %>
      <% total_user = [] %>
      <% @user.vote_issues.each do |issue| %>
        <% issue.vote_users.each do |user| %>
          <% total_user << user.email %>
        <% end %>
      <% end %>
      <% total_user_count = total_user.uniq.count %>
      <div class="col-xs-12 sky-header"><h2>你所接觸到的總人數: <%= total_user_count %></h2></div>
      <h1></h1>

      <h3 class="text-center">地區分佈</h3>
      <% country_hash = Hash.new %>
      <% country_hash=return_total_user_country_hash(total_user) %>
      <% country_hash.each_key do |k| %>
        <div class="col-xs-3">
          <h5 class="text-center"><%= k %> : <%= country_hash[k] %></h5>
        </div>
        <div class="col-xs-9">
          <div class="progress">
          <%= p = (country_hash[k]*100/total_user_count).to_i.to_s + "%" %>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= p %>">
              <span class="sr-only">40% Complete (success)</span>
            </div>
          </div>

        </div>
      <% end %>

    <% else %>
    <% end %>

  </div>
  <div class="row">
    <div class="col-xs-12 sky-header"><h2>你支持的議題</h2></div>
    <div class="col-xs-6">
      <h3>議題名稱</h3>
    </div>
    <div class="col-xs-6 pull-left">
      <h3>關注人數</h3>
    </div>
  </div>
  <div class="row">
    <ul>
      <div class="spacing"></div>
      <% @user.vote_issues.each do |issue| %>
      <li class="col-xs-6"><%= link_to issue.title, issue_path(issue) %></li>
      <li class="col-xs-6 pull-left"><%= issue.votes_count %></li>
      <br>
      <br>
      <% end %>
    </ul>
  </div>
  <div class="row">

    <div class="col-xs-12 sky-header"><h2>和我有共同關注的民代</h2></div>
    <% @agent.each do |a|%>
    <div class="col-xs-2 text-center user-img">
      <%= image_tag(a.fb_image, :class => "w100p")%>
      <% agent_issues = [] %>
      <% a.vote_issues.each do |a_issues| %>
        <% agent_issues << a_issues.id %>
      <% end %>
      <% total_issues = agent_issues + @user_issues %>
      <p class = "user-name"><%= a.name %></p>
      <div class = "user-name">共同關注議題: <%= total_issues.select {|x| total_issues.count(x) >1 }.uniq.count %></div>
    </div>
    <% end %>

  </div>
  <br>
  <div class="row">
    <div class="col-md-2 col-md-push-5">
    <%= link_to "回議題總覽",issues_path, :class => "btn btn-default w100p" %>
    </div>
  </div>
</div>
