<div class="container">
  <div class="row">
    <div class="col-xs-12 sky-header"><h2>目前民代總人數: <%= @total_agents.size %></h2></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>姓名</th>
            <th>站你的議題</th>
            <th>名聲 , like / dislike</th>
          </tr>
        </thead>
        <tbody>
          <% @agents.each do |agent| %>
            <tr>
              <!-- 列出user和這位民代agent的資訊 -->
              <td><%= render_user_name_link(agent) %></td>
              <td><%#= current_user ? agent.votes.select{ |i| @user_issues.map(&:id).include?(i.issue_id) }.size : 0 %>
              <%#= agent.find_votes_for.select{ |i| @user_issues.map(&:id).include?(i.votable_id) && i.votable_type == "Issue" }.size %>

              <%= agent.number_of_same_issues(@all_agent_issues, @my_issues) %>

              </td>
              <td id = "agent-vote-<%= agent.id %>">
              <%= reputation(agent) %>,
              <%= link_to "站聲", like_user_path(agent), :class=>"btn #{vote?(agent, 1)} btn-xs"%>
              ｜
              <%= link_to "噓聲", dislike_user_path(agent), :class=>"btn #{vote?(agent, -1)} btn-xs"%>
              ｜
              <%= link_to "觀察", unlike_user_path(agent)%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <%= paginate @agents %>
</div>
