<!DOCTYPE html>
<html>
<head>
  <title>Solveissues</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render :partial => "layouts/nav", :locals => {} %>


    <% if flash[:success] %>
      <p class="alert alert-success">
        <%= flash[:success] %>
        <a href="" class="close" data-dismiss="alert">&#215;</a>
      </p>
    <%end%>
    <% if flash[:notice] %>
      <p class="alert alert-info">
        <%= flash[:notice] %>
        <a href="" class="close" data-dismiss="alert">&#215;</a>
      </p>
    <%end%>
    <% if flash[:alert] %>
      <p class="alert alert-danger">
        <%= flash[:alert] %>
        <a href="" class="close" data-dismiss="alert">&#215;</a>
      </p>
    <%end%>


<div class="wrapper">
<%= yield %>
</div>

</body>
</html>
