<!DOCTYPE html>
<html>
<head>
  <title>Solveissues</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |message_name, msg| %>
  <!-- <%#= content_tag(:div, msg, class: "alert alert-#{message_name}") %> -->
  <div class="alert alert-<%= message_name %>">
    <%= msg %>
    <a href="" data-dismiss="alert"></a>
  </div>
<% end %>

<%= yield %>

</body>
</html>
